*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

html,body{
    height: 100%;
}

#test1{
    height: 10%;
    margin-bottom: 20px;
    display: flex;
}

#test1 .left{
    flex-direction: column;
    /*width: 30%;*/
    flex-grow: 3;
    background: red;
    height: 100%;
}

#test1 .right{
    /*width: 70%;*/
    flex-grow: 7;
    background: blue;
    flex-direction: column;
    height: 100%;
}

#test2{
    height: 10%;
    margin-bottom: 20px;
    display: flex;
}

#test2 .left{
    flex-direction: column;
    width: 200px;
    background: red;
    height: 100%;
    flex: 0 0 auto;
}

#test2 .right{
    /*width: calc(100% - 200px);*/
    flex: 1 1 auto;
    background: blue;
    flex-direction: column;
    height: 100%;
}

#test3{
    height: 10%;
    margin-bottom: 20px;
    display: flex;
}

#test3 .left{
    flex-direction: column;
    /*width: calc(100% - 200px);*/
    background: red;
    height: 100%;
    flex: 1 1 auto;
}

#test3 .right{
    width: 200px;
    background: blue;
    flex-direction: column;
    height: 100%;
    flex: 0 0 auto;
}

#test4{
    height: 10%;
    margin-bottom: 20px;
    display: flex;
}

#test4 .left{
    flex-direction: column;
    width: 200px;
    background: red;
    height: 100%;
    flex: 0 0 auto;
}

#test4 .mid{
    flex-direction: column;
    /*width: calc(100% - 400px);*/
    flex: 1 1 auto;
    background: #3bff2f;
    height: 100%;
}

#test4 .right{
    width: 200px;
    background: blue;
    flex-direction: column;
    height: 100%;
    flex: 0 0 auto;
}

#test5{
    height: 10%;
    margin-bottom: 20px;
    display: flex;
}

#test5 .left{
    flex-direction: column;
    width: 200px;
    background: red;
    height: 100%;
    flex: 0 0 auto;
}

#test5 .mid{
    flex-direction: column;
    width: 200px;
    background: #3bff2f;
    height: 100%;
    flex: 0 0 auto;
}

#test5 .right{
    /*width: calc(100% - 400px);*/
    flex: 1 1 auto;
    background: blue;
    flex-direction: column;
    height: 100%;
}