*{
    margin: 0;
    padding: 0;
}

body{
    margin-left: 10px;
    font-family:"微软雅黑";
}

.tit h2{
    line-height: 40px;
    color: black;
    font-size: 40px;
    margin: 20px auto;
}

.t1 h3{
    line-height: 50px;
    font-size: 30px;
    margin: 20px auto;
    clear: both;
}

.t2 p{
    margin-right: 20px;
    float: left;
    margin-bottom: 10px;
}


#git{
    color: blue;
}