*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微软雅黑;
}

.box{
    margin: 0 auto;
    height: 800px;
    width: 800px;
    /*border: 1px solid black;*/

    display: flex;
    flex-direction: row;
    box-shadow: 10px 10px 5px #888888;
}

.box .left_box{
    height: 800px;
    width: 240px;
    background-color: #1b1a47;
    position: absolute;
}


.left_box .myImage{
    position: absolute;
    width: 240px;
}

.left_box .myImage img{
    display: block;
    width: 160px;
    margin: 40px auto;
    border: 10px #020d29 solid;
    border-radius: 50%;
}

.left_box .myImage img:hover{
    border:none;
}

.left_box .base_info{
    position: absolute;
    top: 230px;
    left: 20px;
    color: #e2e3e3;
    font-size: 16px;
    line-height: 30px;
}

.left_box .base_info a{
    width: 230px;
    color: #e2e3e3;
    text-decoration: none;
}

.left_box .base_info img{
    margin-bottom: -2px;
    margin-left: -5px;
}

.left_box .certificate{
    position: absolute;
    left: 20px;
    top: 430px;
    color: #e2e3e3;
    font-size: 16px;
    line-height: 30px;
}

.box .right_box{
    position: relative;
    height: 100%;
    left: 240px;
    width: calc(100% - 240px);
}

.right_box .name{
    position: absolute;
    top: 40px;
    left: 30px;
}

.right_box .education{
    position: absolute;
    top: 150px;
    left: 30px;
}

.right_box .education .bachelor{
    display: flex;
    flex-direction: row;
}

.right_box .education .master{
    display: flex;
    flex-direction: row;
}

.right_box .education p{
    margin-right: 20px;
    line-height: 28px;
    font-size: 16px;
}

.right_box .work {
    position: absolute;
    left: 30px;
    top: 260px;
}

.right_box img{
    margin-bottom: -8px;
}

.right_box .work .company{
    display: flex;
    flex-direction: row;
}

.right_box .work .company p{
    margin-right: 20px;
    line-height: 28px;
    font-size: 16px;
}

.right_box .work .work_details p{
    line-height: 24px;
    font-size: 14px;
}

.right_box .skill{
    position: absolute;
    left: 30px;
    top: 420px;
}

.right_box .skill p{
    line-height: 28px;
    font-size: 16px;
}

.right_box .product{
    position: absolute;
    left: 30px;
    top: 560px;
}

.right_box .product .title{
    display: flex;
    flex-direction: row;
}

.product .title p{
    margin-right: 40px;
    line-height: 28px;
    font-size: 16px;
}

.right_box .product .product_details a{
    color: #1B1A47;
    text-decoration: none;
    margin-right: 20px;
    line-height: 24px;
    font-size: 16px;
}