*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}

input,textarea{
    font-family: Montserrat;
}


.box{
    width: 1600px;
    height: 6300px;
    position: relative;
    font-weight: lighter;
}

.box1{
    width: 1600px;
    height: 990px;
    position: absolute;
    top: 0;
}

.box #background{
    width: 1600px;
    height: 6274px;
    position: relative;
    z-index: -10;
}

.box1 .box1-bg #mask{
    width: 1600px;
    height: 990px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.box1 .box1-bg #picture{
    width: 1600px;
    height: 990px;
    position: absolute;
    top: 0;
    left: 0;
}

#hello-world{
    font-size: 62px;
    color: white;
    position: absolute;
    left: 650px;
    top: 218px;
    z-index: 11;
}

#china{
    font-size: 20px;
    line-height: 32px;
    width: 755px;
    position: absolute;
    left: 430px;
    top: 352px;
    color: white;
    z-index: 9;
    text-align: center;
}

.account{
    border: white 1px solid;
    position: absolute;
    left: 315px;
    top: 530px;
    text-align: center;
    width: 970px;
    height: 250px;
}

.account #create{
    font-size: 18px;
    color: white;
    position: absolute;
    top: 60px;
    left: 370px;
    font-weight: bolder;
    z-index: 11;
}

.account #it{
    font-size: 10px;
    color: white;
    position: absolute;
    top: 90px;
    left: 400px;
}

.account .name{
    border: #776f73 1px solid;
    position: absolute;
    left: 100px;
    top: 145px;
    width: 290px;
    height: 50px;
    z-index: 11;
}

.account input{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    height: 100%;
    width: 290px;
    text-indent: 2em;
}

.account .psd{
    border: #776f73 1px solid;
    position: absolute;
    left: 420px;
    top: 145px;
    width: 290px;
    height: 50px;
    z-index: 11;
}

.account .signbg{
    position: absolute;
    left: 740px;
    top: 145px;
    background-color: white;
    z-index: 11;
    width: 125px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.account .signbg #sign{
    margin-top: 10px;
}

.box .box2{
    width: 1600px;
    height: 720px;
    position: absolute;
    top: 990px;
}

.box2 .box2-bg #mask2{
    z-index: 10;
}

.box2-bg #boatloads{
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -96px;
    color: black;
    font-size: 14px;
}

.box2-bg #ready{
    position: absolute;
    top: 140px;
    left: 50%;
    margin-left: -330px;
    color: black;
    font-size: 42px;
    width: 660px;
    text-align: center;
}

.mob{
    position: absolute;
    top: 310px;
    left: 290px;
    width: 420px;
    z-index: 11;
}


.mob #mob-first{
    position: absolute;
    left: 60px;
    top: 0;
    font-size: 20px;
    font-weight: bolder;
}

.mob #all-mod{
    position: absolute;
    left: 60px;
    top: 50px;
    font-size: 16px;
}

.access{
    position: absolute;
    left: 870px;
    top: 310px;
    width: 420px;
}

.access #accessibility{
    position: absolute;
    left: 60px;
    top: 0;
    font-size: 20px;
    font-weight: bolder;
}

.access #support{
    position: absolute;
    left: 60px;
    top: 50px;
    font-size: 16px;
}

.flu{
    position: absolute;
    left: 290px;
    top: 480px;
    width: 420px;
}

.flu img{
    margin-left: -10px;
}

.flu #fluid{
    position: absolute;
    left: 60px;
    top: 0;
    font-size: 20px;
    font-weight: bolder;
}

.flu #different{
    position: absolute;
    left: 60px;
    top: 50px;
    font-size: 16px;
}

.cus{
    position: absolute;
    left: 870px;
    top: 480px;
    width: 420px;
}

.cus img{
    margin-left: -10px;
}

.cus #Customization{
    position: absolute;
    left: 60px;
    top: 0;
    font-size: 20px;
    font-weight: bolder;
}

.cus #make{
    position: absolute;
    left: 60px;
    top: 50px;
    font-size: 16px;
}

.box3{
    width: 1600px;
    height: 800px;
    position: absolute;
    top: 1700px;
}

.box3 #box3-mask{
    position: absolute;
    z-index: 10;
}

.box3 #box3-picture{
    position: absolute;
    z-index: 0;
}

.box3 #Supportive {
    position: absolute;
    top: 170px;
    left: 315px;
    z-index: 11;
    font-size: 42px;
    color: white;
    width: 366px;
}

.box3 .china-will{
    position: absolute;
    top: 360px;
    left: 315px;
    font-size: 18px;
    width: 366px;
    color: white;
}

.box3 #check{
    background-color: white;
    text-align: center;
    position: absolute;
    top: 550px;
    left: 315px;
    border: none;
    width: 240px;
    height: 60px;
    font-size: 12px;
    z-index: 11;
    cursor: pointer;
}

.box3 #try{
    background-color: transparent;
    color: white;
    text-align: center;
    position: absolute;
    top: 550px;
    left: 585px;
    border:1px white solid;
    width: 240px;
    height: 60px;
    font-size: 12px;
    z-index: 11;
    cursor: pointer;
}

.box3 #ipad{
    position: absolute;
    left: 955px;
    top: 100px;
    z-index: 11;
}

.box3 #screen{
    position: absolute;
    left: 1015px;
    top: 130px;
    z-index: 11;
}

.box4{
    width: 1600px;
    height: 580px;
    position: absolute;
    top: 2500px;
}

.box4 #try-our{
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -260px;
    font-size: 42px;
}

.box4 #log1{
    position: absolute;
    top: 230px;
    left: 395px;
}

.box4 #log2{
    position: absolute;
    top: 230px;
    left: 760px;
}

.box4 #log3{
    position: absolute;
    top: 230px;
    left: 1090px;
}

.box4 .lijun{
    position: absolute;
    left: 330px;
    top: 300px;
    width: 250px;
    font-size: 16px;
    text-align: center;
}

.box4 #lisaid{
    position: absolute;
    left: 670px;
    top: 300px;
    width: 250px;
    font-size: 16px;
    text-align: center;
}

.box4 #zhang{
    position: absolute;
    left: 1020px;
    top: 300px;
    width: 250px;
    font-size: 16px;
    text-align: center;
}

.box5{
    width: 1600px;
    height: 1000px;
    position: absolute;
    top: 3080px;
}

.box5 #leaf{
    position: absolute;
    top: 100px;
    left: 315px;
    width: 570px;
    height: 350px;
    overflow: hidden;
}

#leaf img{
    position: absolute;
    top: -100px;
}

.box5 #learn-how{
    position: absolute;
    top: 200px;
    left: 980px;
    width: 265px;
    font-size: 20px;
}

.box5 .lijun{
    position: absolute;
    left: 985px;
    top: 270px;
    width: 300px;
}

.box5 #bird{
    position: absolute;
    top: 540px;
    left: 715px;
    width: 570px;
    height: 350px;
    overflow: hidden;
}

#bird img{
    position: absolute;
    top: -100px;
}

.box5 #choose{
    position: absolute;
    top: 615px;
    left: 315px;
    width: 300px;
    font-size: 20px;
}

.box5 .china-will{
    position: absolute;
    left: 315px;
    top: 700px;
    width: 300px;
}

.box6{
    position: absolute;
    top: 4080px;
    width: 1600px;
    height: 1100px;
}

.box6 #crew{
    position: absolute;
    top: 100px;
    left: 600px;
    font-size: 42px;
}

.box6 #skill{
    position: absolute;
    left: 450px;
    top: 180px;
    font-size: 18px;
    text-align: center;
    width: 700px;
}

.box6 .pic1 {
    position: absolute;
    left: 315px;
    top: 270px;
    width: 470px;
    height: 340px;
    overflow: hidden;
}

.pic1 #mask3{
    z-index: 10;
    position: absolute;
}

.pic1 #zhangsi{
    position: absolute;
    top: -20px;
    left: -25px;
}

.pic1 #ethan{
    position: absolute;
    left: 170px;
    top: 110px;
    font-size: 20px;
    color: white;
    z-index: 11;
    font-weight: bolder;
}

.pic1 #senior{
    position: absolute;
    left: 140px;
    top: 150px;
    font-size: 12px;
    color: #cbcbcb;
    z-index: 11;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.pic1 .fb-icon{
    position: absolute;
    left: 130px;
    top: 200px;
    z-index: 11;
}

.pic1 #facebook{
    position: absolute;
    left: 20px;
    top:20px;
}

.pic1 .tw-icon{
    position: absolute;
    left: 210px;
    top: 200px;
    z-index: 11;
}

.pic1 #twitter{
    position: absolute;
    left: 17px;
    top:20px;
}

.pic1 .ins-icon{
    position: absolute;
    left: 290px;
    top: 200px;
    z-index: 11;
}

.pic1 #Instagram{
    position: absolute;
    left: 15px;
    top: 18px;
}

.box6 .pic2 {
    position: absolute;
    left: 815px;
    top: 270px;
    width: 470px;
    height: 340px;
    overflow: hidden;
}

.box6 .pic2 img{
    position: absolute;
    top: -20px;
    left: -20px;
}

.box6 .pic3{
    position: absolute;
    top: 640px;
    left: 315px;
    width: 470px;
    height: 340px;
    overflow: hidden;
}

.box6 .pic3 img{
    position: absolute;
    top: -10px;
}

.box6 .pic4{
    position: absolute;
    top: 640px;
    left: 815px;
    width: 470px;
    height: 340px;
    overflow: hidden;
}

.pic4 img{
    position: absolute;
    top: -10px;
}

.box7{
    position: absolute;
    top: 5200px;
    width: 1600px;
    height: 700px;
}

.box7 #fell{
    position: absolute;
    top: 100px;
    left: 435px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
}

.box7 .email{
    position: absolute;
    left: 365px;
    top: 160px;
    height: 50px;
    width: 370px;
}

.box7  input{
    width: 100%;
    height: 100%;
    text-indent: 2em;
    font-size: 14px;
 }

.box7 .subject{
    position: absolute;
    left: 365px;
    top: 240px;
    height: 50px;
    width: 370px;
}

.box7 .message{
    position: absolute;
    left: 365px;
    top: 320px;
    height: 150px;
    width: 370px;
    overflow: initial;
}

.box7 .message textarea{
    width: 100%;
    height: 100%;
    text-indent: 2em;
    font-size: 14px;
    padding-top: 20px;
}

.box7 button{
    position: absolute;
    top: 500px;
    left: 365px;
    background-color: black;
    border: 1px black solid;
    color: white;
    width: 372px;
    height: 50px;
}

.box7 #contact{
    position: absolute;
    top: 120px;
    left: 915px;
    font-size: 42px;
    font-weight: bolder;
}

.box7 #design{
    position: absolute;
    top: 190px;
    left: 915px;
    font-size: 16px;
    width: 350px;
}

.box7 .map{
    position: absolute;
    left: 915px;
    top: 330px;
    width: 260px;
}

.box7 .map #king{
    position: absolute;
    left: 40px;
    top: -2px;
    font-size: 16px;
    font-weight: bolder;
}

.box7 .phone{
    position: absolute;
    left: 915px;
    top: 400px;
    width: 260px;
}

.phone #num{
    position: absolute;
    top: 0;
    left: 40px;
    font-size: 16px;
    font-weight: bolder;
}

.box7 .mail{
    position: absolute;
    left: 915px;
    top: 460px;
    width: 260px;
}

.mail #mail-add{
    position: absolute;
    top: -4px;
    left: 40px;
    font-size: 16px;
    font-weight: bolder;
}

.box8{
    width: 1600px;
    height: 400px;
    position: absolute;
    top: 5900px;
    background-color: black;
}

.box8 .list1 #learn{
    font-size: 14px;
    color: white;
    position: absolute;
    left: 215px;
    top: 100px;
    font-family: Montserrat;
    letter-spacing: 3px;
}

.list1 #works{
    width: 270px;
    position: absolute;
    left: 215px;
    top: 150px;
    color: white;
    font-size: 16px;
    line-height: 46px;
}

.box8 .list2 #about{
    font-size: 14px;
    color: white;
    position: absolute;
    left: 515px;
    top: 100px;
    font-family: Montserrat;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.list2 #aboutus{
    width: 270px;
    position: absolute;
    left: 515px;
    top: 150px;
    color: white;
    font-size: 16px;
    line-height: 46px;
}

.box8 .list3 .support{
    font-size: 14px;
    color: white;
    position: absolute;
    left: 815px;
    top: 100px;
    font-family: Montserrat;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.list3 #faq{
    width: 270px;
    position: absolute;
    left: 815px;
    top: 150px;
    color: white;
    font-size: 16px;
    line-height: 46px;
}

.box8 .list4{
    font-size: 14px;
    color: white;
    position: absolute;
    left: 1115px;
    top: 100px;
    width: 260px;
}

.list4 #enjoy{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Montserrat;
}

.list4 #web-ui{
    position: absolute;
    top: 60px;
    font-size: 18px;
    line-height: 28px;
}

.icon{
    position: absolute;
    left: 1115px;
    top: 250px;
    word-spacing: 30px;
}

.icon a{
    text-decoration: none;
}